@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



h1 {
    color: #fff;
    margin: 20px 0;
    font-size: 2rem; /* Maintains font size for headers */
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensures that the body is at least the height of the viewport */
    margin: 0;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    color: #fff;
    position: relative; /* Keeps footer at the bottom without using absolute positioning */
    padding-bottom: 10px;
}

.calculator {
    width: 50%; /* Adjusts width to 70% of the viewport width */
       padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    
}



/* Additional styles remain unchanged */


select, input, button {
    padding: 15px 20px;
    font-size: 18px;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: none;
    appearance: none;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.25);
    color: white;
}

select, input {
    background: rgba(255, 255, 255, 0.25); /* More transparency for better background blending */
    color: white;
    cursor: pointer;
}

input[type="number"] {
    text-align: left;
}
@media (max-width: 600px) {
    .calculator {
        width: 90%; /* Increases width to 90% for smaller screens */
    }
}

button {
    background-color: #fb7c14;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #e67300; /* Darker shade on hover */
}

button:active {
    transform: scale(0.98); /* Slight press effect */
}

.re {
    margin-bottom: 80px; /* Added to the .re class to adjust the margin */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    min-height: 100vh;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(180deg);
    color: #0a0a0a;
    }
  nav .navbar .links li .arrow{
     
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
    color: #0a0a0a;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .htmlCss-more-sub-menu{
     line-height: 40px; 
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
  
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: rgba(255, 255, 255, 0.2);
  
  }
  
  
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  @media (max-width:920px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    nav{
       position: fixed; /* Change position to fixed */
       top: 0; /* Ensure it sticks to the top of the viewport */
    }
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background: rgba(255, 255, 255, 0.2);
     
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
      line-height: 40px;
      padding: 20px;
            transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: #fff;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  }
  nav {
    position: static;
    top: 0;
    
}
nav .navbar .links li a:hover {
   
    transform: scale(1.1); /* Magnifies the link text by 10% on hover */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transformation */
}
.description {
    width: 70%;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    color: #fff;
    margin-bottom: 20px;
}
footer {
    width: 100%;
    padding: 10px 0;
        color: white;
    text-align: center;
    position: static; /* This change ensures footer is part of the natural flow */
    clear: both; /* Clears the floating elements if any */
}
nav {
    position: static;
    top: 0;
    
}
nav .navbar .links li a:hover {
   /* Changes the text color to black on hover */
    transform: scale(1.1); /* Magnifies the link text by 10% on hover */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and transformation */
}

.navbar .nav-links.active {
    left: 0; /* Bring the navigation links into view */
    transition: left 0.3s ease; /* Smooth transition for the movement */
    background-color: black;
}

@media (max-width:800px){
    .navbar .nav-links {
        position: fixed;
        top: 70px; /* Adjust this if your nav height is different */
        left: -100%; /* Start off-screen */
        width: 100%; /* Full width */
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease; /* Smooth transition for the movement */
        z-index: 1000;
    }
    .navbar .bx-menu {
        display: block;  /* Ensure it's displayed */
        position: relative;  /* Ensures it's part of the layout */
        z-index: 1001;  /* Higher than the navbar */
        cursor: pointer;  /* Indicates it's clickable */
    }
}
::placeholder {
  color: white;;
}

